.card-item {
    border: 1px #c0bfbf solid;
    padding: 10px;
    border-radius: 5px;
}

.card-item:hover {
    background-color: #dcdcdc;
}

#card-content {
    display: flex;
    justify-content: space-between;
}

.card-front,
.card-back {
    flex: 1;
}

.deck-action {
    display: flex;
    justify-content: end;
}